/.idea/libraries/transcommu_android_sdk_v1.xml
/.idea/libraries/transcommu_java_sdk_v1.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/gradle.properties
/build
/budgetEnvelopes/build
/colorPickerView/build
/settings.gradle
/local.properties
/.gradle
/.idea/workspace.xml
